<h2>Aihe: {{ subject }}</h2>
<p>
<p>Aloitusviesti: {{ opening_message }}
<p>
Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
<br>{{ message[0] }}
<br>
<br>Lähettäjä: {{ message[1] }} | Lähetetty: {{ message[2] }}
<hr>
{% endfor %}
{% if session.user_id %}
<form action="/send" method="POST">
<p>Viesti:<br>
<textarea name="content" rows="3" cols="40"></textarea>
<input type="hidden" name="chain_id" value="{{ id }}">
<input type="submit" value="Lähetä">
</form>
<a href="/">Palaa etusivulle</a>
<p>
<hr>Olet kirjautunut sisään. | <a href="/">Palaa etusivulle</a> |
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

